:root {
  --background: #f5f5f0;
  --foreground: #000000;
  --font-blog-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-blog-mono), monospace;
}

html {
  font-family: var(--font-blog-mono), monospace;
  max-width: 900px;
  padding-left: 2%;
  padding-right: 3%;
  margin: 0 auto;
  background: var(--background);
}

* {
  font-size: 16px;
}

@media (max-width: 500px) {
  * {
    font-size: 12px;
  }
}

a {
  color: black;
  font-weight: bold;
}

p {
  margin-top: 0;
  text-align: justify;
}

pre {
  font-family: var(--font-blog-mono), monospace;
  background-color: white;
  border: 1px solid black;
  padding-left: 2%;
  padding-top: 1ch;
  padding-bottom: 1ch;
  overflow-x: auto;
}

blockquote {
  background-color: #f3f3f3;
  border: dashed 1px grey;
  width: 97.5%;
  font-style: italic;
  text-align: justify;
  padding: 1ch;
  padding-top: 2ch;
  padding-bottom: 2ch;
  margin: 0;
  margin-bottom: 2ch;
}

code {
  font-weight: bold;
  background-color: #e1e1e1;
  border-radius: 0.5ch;
  padding-left: 0.3ch;
  padding-right: 0.3ch;
}

.markdown-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-bottom: 1ch;
  border: 2px solid black;
  padding: 0;
  display: block;
}

figure {
  margin: 0;
  margin-bottom: 2ch;
  width: 100%;
  display: block;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

td.ref {
  padding-bottom: 0;
  width: 0;
  text-align: left;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4ch;
}

h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4ch;
  padding-bottom: 0.5ch;
  border-bottom: 1px solid black;
}

h3 {
  margin-top: 2.5ch;
}
